<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>龙</title>
</head>
<body>
    <div class="background">
        <div class="container">
            <h1>龙</h1>

            <div class="item">
                <img src="/static/uploads/bin/1.jpg" alt="彬1">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/bin/2.jpg" alt="彬2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/bin/3.jpg" alt="彬2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/bin/4.jpg" alt="彬2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/bin/5.jpg" alt="彬2">
                <p></p>
            </div>
          

            <a href="/">返回主页面</a>
        </div>
    </div>
</body>
</html>
