<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>牛</title>
</head>
<body>
    <div class="background">
        <div class="container">
            <h1>牛</h1>

            <div class="item">
                <img src="/static/uploads/chujie/1.jpg" alt="初杰1">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/chujie/2.jpg" alt="初杰2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/chujie/3.jpg" alt="初杰2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/chujie/4.jpg" alt="初杰2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/chujie/5.jpg" alt="初杰2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/chujie/6.jpg" alt="初杰2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/chujie/7.jpg" alt="初杰2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/chujie/8.jpg" alt="初杰2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/chujie/9.jpg" alt="初杰2">
                <p></p>
            </div>

            <a href="/">返回主页面</a>
        </div>
    </div>
</body>
</html>
