<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新成员</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>牛花和四个宝family</h1>
        <div class="details">
            <div class="member">
                <img src="{{ url_for('static', filename='uploads/member1.jpg') }}" alt="扬">
                <p>第一位新成员：扬 我们家又一只蛇 1989.04.29</p>
            </div>
            <div class="member">
                <img src="{{ url_for('static', filename='uploads/member2.jpg') }}" alt="涵">
                <p>第二位新成员：涵 我们家的狗 1995.1.3</p>
            </div>
        </div>
        <button onclick="window.location.href='{{ url_for('home') }}'">返回主网站</button>
    </div>
</body>
</html>
