<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>狗</title>
</head>
<body>
    <div class="background">
        <div class="container">
            <h1>狗</h1>

            <div class="item">
                <video controls>
                    <source src="/static/uploads/han/video.mp4" type="video/mp4">
                    您的浏览器不支持 video 标签。
                </video>
            </div>

            <div class="item">
                <img src="/static/uploads/han/1.jpg" alt="涵1">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/han/2.jpg" alt="涵2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/han/3.jpg" alt="涵2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/han/4.jpg" alt="涵2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/han/5.jpg" alt="涵2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/han/6.jpg" alt="涵2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/han/7.jpg" alt="涵2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/han/8.jpg" alt="涵2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/han/9.jpg" alt="涵2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/han/10.jpg" alt="涵2">
                <p></p>
            </div>

            <a href="/">返回主页面</a>
        </div>
    </div>
</body>
</html>
