<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>老鼠</title>
</head>
<body>
    <div class="background">
        <div class="container">
            <h1>老鼠</h1>

            <div class="item">
                <img src="/static/uploads/meng/1.jpg" alt="萌1">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/meng/2.jpg" alt="萌2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/meng/3.jpg" alt="萌2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/meng/4.jpg" alt="萌2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/meng/5.jpg" alt="萌2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/meng/6.jpg" alt="萌2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/meng/7.jpg" alt="萌2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/meng/8.jpg" alt="萌2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/meng/9.jpg" alt="萌2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/meng/10.jpg" alt="萌2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/meng/11.jpg" alt="萌2">
                <p></p>
            </div>

            <a href="/">返回主页面</a>
        </div>
    </div>
</body>
</html>
