<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>蛇</title>
</head>
<body>
    <div class="background">
        <div class="container">
            <h1>蛇</h1>

            <div class="item">
                <img src="/static/uploads/yan/1.jpg" alt="燕1">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/yan/2.jpg" alt="燕2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/yan/3.jpg" alt="燕2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/yan/4.jpg" alt="燕2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/yan/5.jpg" alt="燕2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/yan/6.jpg" alt="燕2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/yan/7.jpg" alt="燕2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/yan/8.jpg" alt="燕2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/yan/9.jpg" alt="燕2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/yan/10.jpg" alt="燕2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/yan/11.jpg" alt="燕2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/yan/12.jpg" alt="燕2">
                <p></p>
            </div>


            <a href="/">返回主页面</a>
        </div>
    </div>
</body>
</html>
