<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>另外一只蛇</title>
</head>
<body>
    <div class="background">
        <div class="container">
            <h1>另外一只蛇</h1>

            <div class="item">
                <video controls>
                    <source src="/static/uploads/yang/video.mp4" type="video/mp4">
                    您的浏览器不支持 video 标签。
                </video>
            </div>

            <div class="item">
                <img src="/static/uploads/yang/1.jpg" alt="阳1">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/yang/2.jpg" alt="阳2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/yang/3.jpg" alt="阳2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/yang/4.jpg" alt="阳2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/yang/5.jpg" alt="阳2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/yang/6.jpg" alt="阳2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/yang/7.jpg" alt="阳2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/yang/8.jpg" alt="阳2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/yang/9.jpg" alt="阳2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/yang/10.jpg" alt="阳2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/yang/11.jpg" alt="阳2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/yang/12.jpg" alt="阳2">
                <p></p>
            </div>
            <div class="item">
                <img src="/static/uploads/yang/13.jpg" alt="阳2">
                <p></p>
            </div>
        


            <a href="/">返回主页面</a>
        </div>
    </div>
</body>
</html>
